# Editor settings
.vscode/

# OS files
.DS_Store

# compiled sources
/dist
/*.js
/*.d.ts
/grecaptcha/**/*.js
/grecaptcha/**/*.d.ts

# Angular AoT output
*.metadata.json

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Build files
ng-grecaptcha-*.tgz
